{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container py-3 py-md-5 px-5 px-md-0">
        <div
          class="row py-0 py-md-5 align-items-center flex-md-row flex-column-reverse"
        >
          <div class="col-12 col-md-6">
            <div class="d-flex flex-column gap-3 text-center text-md-start">
              <h1 class="home_title">Hi, I am John, Creative Technologist</h1>
              <p class="my_text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
              <div>
                <a href="#" class="btn btn_cs">Download Resume</a>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-md-6 d-flex justify-content-center align-items-center"
          >
            <img
              src="{% static 'main/img/coding-concept-illustration-b.png' %}"
              alt="coding illustration"
              class="home_img"
            />
          </div>
        </div>
      </div>

    <!-- ################### Home Section End ################### -->

    <!-- ################### Recent Post Section Begin ################### -->
    <div class="blog py-4 py-md-5">
      <div class="container">
        <div class="d-flex justify-content-between px-5 px-md-0 flex-wrap">
          <span class="page_title">Recent posts</span>
          <a href="#" class="view">View all</a>
        </div>
        <div class="row mt-3 row-gap-3">
          <div class="col-12 col-md-6">
            <a href="#" class="text-decoration-none text-black">
              <div class="my_card d-flex flex-column gap-3">
                <h2 class="blog_title">Making a design system from scratch</h2>
                <div class="d-flex gap-3" class="date_title">
                  <span>12 Feb 2020</span>
                  <span>|</span>
                  <span>Design, Pattern</span>
                </div>
                <p class="my_text">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                  Exercitation veniam consequat sunt nostrud amet.
                </p>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-6">
            <div class="my_card d-flex flex-column gap-3">
              <h2 class="blog_title">Creating pixel perfect icons in Figma</h2>
              <div class="d-flex gap-3" class="date_title">
                <span>12 Feb 2020</span>
                <span>|</span>
                <span>Figma, Icon Design</span>
              </div>
              <p class="my_text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ################### Recent Post Section End ################### -->



    <!-- ################### Featured Post Section Begin ################### -->
     <div class="container py-5">
      <div class="d-flex justify-content-between px-5 px-md-0 flex-wrap">
        <span class="page_title">Featured works</span>
        <a href="#" class="view">View all</a>
      </div>

      <div class="cards mt-3 px-5 px-md-0 row-gap-3">
        <div class="card mb-3 border-0 rounded-0" style="border-bottom: 1px solid #E0E0E0 !important; padding-bottom: 20px;">
          <div class="row g-0">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
              <a href="#" class="w-100">
                <img src="{% static 'main/img/works_1.jpg' %}" class="img-fluid rounded-start" alt="work 1" style="width: 100%; height: auto; border-radius: 6px;">
              </a>
            </div>
            <div class="col-md-9">
              <div class="card-body d-flex flex-column justify-content-between h-100 row-gap-4 row-gap-md-0 pt-4 pt-md-3 ps-0 ps-md-3">
                <div>
                  <a href="#" class="text-decoration-none">
                    <h5 class="card-title works_title">Designing Dashboards</h5>
                  </a>
                  <div class="d-flex gap-3 mt-4">
                    <span class="year">2020</span>
                    <span class="tags">Dashboard</span>
                  </div>
                </div>
                <p class="card-text my_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 border-0 rounded-0" style="border-bottom: 1px solid #E0E0E0 !important; padding-bottom: 20px;">
          <div class="row g-0">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
              <img src="{% static 'main/img/Rectangle 32.jpg' %}" class="img-fluid rounded-start" alt="work 1" style="width: 100%; height: auto; border-radius: 6px;">
            </div>
            <div class="col-md-9">
              <div class="card-body d-flex flex-column justify-content-between h-100 row-gap-4 row-gap-md-0 pt-4 pt-md-3 ps-0 ps-md-3">
                <div>
                  <h5 class="card-title works_title">Vibrant Portraits of 2020</h5>
                  <div class="d-flex gap-3 mt-4">
                    <span class="year">2020</span>
                    <span class="tags">Illustration</span>
                  </div>
                </div>
                <p class="card-text my_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 border-0 rounded-0" style="border-bottom: 1px solid #E0E0E0 !important; padding-bottom: 20px;">
          <div class="row g-0">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
              <img src="{% static 'main/img/works_1.jpg' %}" class="img-fluid rounded-start" alt="work 1" style="width: 100%; height: auto; border-radius: 6px;">
            </div>
            <div class="col-md-9">
              <div class="card-body d-flex flex-column justify-content-between h-100 row-gap-4 row-gap-md-0 pt-4 pt-md-3 ps-0 ps-md-3">
                <div>
                  <h5 class="card-title works_title">36 Days of Malayalam type</h5>
                  <div class="d-flex gap-3 mt-4">
                    <span class="year">2020</span>
                    <span class="tags">Typography</span>
                  </div>
                </div>
                <p class="card-text my_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    <!-- ################### Featured Post Section End ################### -->

{% endblock %}