{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="p-4">
                <h2>Profile</h2>
                {% if user_profile.profile_image %}
                    <img src="{{ user_profile.profile_image.url }}" alt="profile image" class="rounded-circle object-fit-cover" style="width: 200px; height: 200px;">
                {% else %}
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile image" class="rounded-circle" style="width: 200px; height: 200px;">
                {% endif %}
                <h3>Username: {{ user_profile.username }}</h3>
                <p><strong>Full Name:</strong> {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                <p><strong>Email</strong> {{ user_profile.email|default:"Email not yet set up" }}</p>
                <p><strong>Bio:</strong> {{ user_profile.bio|default:"No bio available" }}</p>
                {% if user == user_profile %}
                    <a href="{% url 'profile-edit' %}" class="btn btn-primary">Edit Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}