
<!-- ################### Footer Section Begin ################### -->
    <footer>
      <div class="d-flex flex-column align-items-center">
          <div class="icons d-flex gap-4">
              <a href="https://t.me/Khojiakbar_dev" target="_blank">
                <i class="fa-brands fa-telegram" style="font-size: 30px; color: black"></i>
              </a>
              <a href="https://github.com/mansuroff123" target="_blank">
                <i class="fa-brands fa-github" style="font-size: 30px; color: black"></i>
              </a>
              <a href="https://stackoverflow.com/users/20241006/khojiakbar-mansuroff">
                <i class="fa-brands fa-stack-overflow" style="font-size: 30px; color: black"></i>
              </a>

              <a href="https://linkedin.com">
                <i class="fa-brands fa-linkedin" style="font-size: 30px; color: black"></i>
              </a>
          </div>
          <br>
          <p>Copyright ©2020 All rights reserved </p>
      </div>
  </footer>
    <!-- ################### Footer Section End ################### -->